requests==2.24.0
behave==1.2.6
allure-behave==2.8.18
urllib3==1.25.11
pyjwt==1.7.1
cryptography==3.1.1
dataclasses>=0.6
selenium==3.141.0
webdriver-manager==3.2.2
Appium-Python-Client>=1.0.2
polling>=0.3.1
